/* Resume Section */
.resume-section {
  min-height: 100vh;
  background: #000;
  color: white;
  text-align: center;
  padding: 70px 0 60px 0;
}

/* Section Title */
.resume-section h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

/* Resume Container */
.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack items on smaller screens */
  gap: 20px;
  margin-bottom: 20px;
}

/* Embedded PDF Viewer */
.resume-viewer {
  width: 60%;
  height: 1100px;
  border: none;
}

/* Download Button */
.download-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #000000, #3e3e3e);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.download-btn:hover {
  background: linear-gradient(135deg, #3e3e3e , #000000);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
  transform: scale(1.1);
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .resume-viewer {
    width: 80%;
    height: 900px;
  }

  .resume-section h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .resume-viewer {
    width: 90%;
    height: 700px;
  }

  .resume-section h1 {
    font-size: 2rem;
  }

  .download-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .resume-viewer {
    width: 95%;
    height: 500px;
  }

  .resume-section h1 {
    font-size: 1.8rem;
  }

  .download-btn {
    font-size: 0.9rem;
    padding: 8px 14px;
  }

  
}
